.header{
  display: flex;
  margin: 0;
  font-family: 'Koulen';

  top: 0;
  height: 60px;
}

.header-left{
  display: flex;
  align-items: center;
  padding: 0 8%;
  margin-right: 40%;
  cursor: pointer;

  font-size: 2.5rem;
  color: #3C3D37;
}

.header-right{
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 22px;
  width: 700px;
}

.header-right a{
  text-decoration: none;
  color: #181C14;
}

.night-mode-btn{
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.night-mode-btn i{
  font-size: 1.5rem;
  color: #181C14;
}