@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ECDFCC;
  font-family: 'Koulen';
}

/*  HOME SECTION  */
.home{
  margin-top: 3.5rem;
  width: 100%;
}

.home-section{
  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 1rem;
  padding: 60px 18%;
}
  
/* FOR HOME-IMAGE */
.home-image{
  flex-basis: 35%;
  order: 2;

  perspective: 1000px;
}

.image-container{
  position: relative;

  width: 100%;

  aspect-ratio: 3 / 3.25;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.home-image:hover .image-container{
  transform: rotateY(180deg);
}

.front-image,
.back-image
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  backface-visibility: hidden;

  border-radius: 10px;
  overflow: hidden;
}

.front-image,
.back-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.back-image{
  transform: rotateY(180deg);
}

.home-image img{
  width: 100%;
  height: auto;
}


/* END OF HOME - IMAGE */

.home-details{
  flex-basis: 55%;
  order: 1;
}

.home-details .hello , h2{
  font-size: 1.8rem;

  width: 90%;
  margin: 0;
}

.home-details h2{
  font-size: 3rem;
  font-weight: 300;
}

.p-details{
  font-size: 1.2rem;
  margin: 0;
}

.home-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: 1.5rem;
  width: 50%;
}

.quick-socials-btn{
  display: flex;
  gap: 15px;
}

.resume-btn, .github-btn, .linkedin-btn{
  cursor: pointer;
}

.resume-btn{
  width: 100px;
  background-color: #3C3D37;
  color: #ECDFCC;
  margin-bottom: 0.4rem;
  font-weight: 550;

  padding: 10px;
  border-radius: 5px;
  border: none;
}

.linkedin-btn, .github-btn{
  padding: 8px;
  display: flex;
  align-items: center;

  border: none;
  border-radius: 16px;
}

.linkedin-btn{
  background-color: #0077B5;
  color: #fff;
}

.github-btn{
  background-color: #181C14;
  color: #fff;
}

/*  ABOUT ME  */

