.header{
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #ECDFCC;
  z-index: 100;

  top: 0;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;

  transition: box-shadow 0.3s ease;
}

.header-scrolled {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header-left{
  display: flex;
  align-items: center;
  cursor: pointer;

  font-size: 2.5rem;
  color: #3C3D37;
}

.header-left a{
  text-decoration: none;
  color: #181C14;
}

.header-right{
  display: flex;
  align-items: center;
  gap: 2rem;

  font-size: 22px;
}

.header-right a{
  text-decoration: none;
  color: #181C14;
}

.night-mode-btn{
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.night-mode-btn i{
  font-size: 1.5rem;
  color: #181C14;
}

/* --- Hamburger Menu Button --- */
.hamburger-menu {
  background-color: transparent;
  border: none;
  color: #181C14;
  font-size: 1.5rem;
  cursor: pointer;
  
  /* HIDE ON DESKTOP BY DEFAULT */
  display: none;
}
