/*  HOME SECTION  */
.home{
  width: 100%;
  margin: 6rem 0 6rem 0;
}

.home-section{
  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 1rem;
  padding: 60px 18%;
}



/* FOR HOME-IMAGE FLIP:*/
.home-image{
  flex-basis: 35%;
  order: 2;

  perspective: 1000px;
}

.image-container{
  position: relative;

  width: 100%;

  aspect-ratio: 3 / 3.25;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.home-image:hover .image-container{
  transform: rotateY(180deg);
}

.front-image,
.back-image
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  backface-visibility: hidden;

  border-radius: 10px;
  overflow: hidden;
}

.front-image,
.back-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.back-image{
  transform: rotateY(180deg);
}

.home-image img{
  width: 100%;
  height: auto;
}
/* END OF HOME - IMAGE */



.home-details{
  flex-basis: 55%;
  order: 1;
  cursor: default;
}

.home-details .hello , .home-details h2{
  font-size: 1.8rem;

  width: 90%;
  margin: 0;
}

.home-details h2{
  font-size: 3rem;
  font-weight: 300;
}

.p-details{
  font-size: 1.2rem;
  margin: 0;
}

.home-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: 1.5rem;
  width: 50%;
}

.quick-socials-btn{
  display: flex;
  gap: 15px;
}

.resume-btn, .github-btn, .linkedin-btn{
  cursor: pointer;
  text-decoration: none;
}

.resume-btn{
  background-color: #3C3D37;
  color: #ECDFCC;
  margin-bottom: 0.8rem;
  font-weight: 550;
  text-align: center;

  padding: 12px;
  border-radius: 5px;
  border: none;

  transition: box-shadow 0.3s ease;
}

.linkedin-btn, .github-btn{
  padding: 10px;
  display: flex;
  align-items: center;

  border: none;
  border-radius: 16px;
}

.linkedin-btn{
  background-color: #0077B5;
  color: #fff;
}

.github-btn{
  background-color: #181C14;
  color: #fff;
}

/*  ANIMATIONS  */
/* In: home.css */

.home-details .hello {
  opacity: 0; /* Start invisible */
  animation: fadeUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

.home-details h2 {
  opacity: 0;
  animation: fadeUp 0.8s ease-out forwards;
  animation-delay: 0.4s;
}

.home-details .p-details {
  opacity: 0;
  animation: fadeUp 0.8s ease-out forwards;
  animation-delay: 0.6s;
}

.home-image {
  opacity: 0;
  animation: fadeUp 0.8s ease-out forwards;
  animation-delay: 0.8s;
}

.home-buttons{
  opacity: 0;
  animation: fadeUp 0.8s ease-out forwards;
  animation-delay: 0.8s;
}

#typing-effect.ti-completed .ti-cursor {
  display: none !important; /* <-- ADD !important */
}

/*  BUTTON HOVER  */
.resume-btn:hover{
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
}


/*  KEYFRAMES  */
@keyframes fadeUp{
  from {
    opacity:0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}