/* ==============================================
   RESPONSIVE STYLES
   ==============================================
*/

/*  --- SMALL LAPTOP ---
    (From 901px to 1024px)
    Covers Small Laptop
*/

@media (min-width: 901px) and (max-width: 1024px) {
  /*  --- HEADER ---  */
  .header-left a{
    font-size: 2.3rem;
  }

  /*  --- ABOUT ---  */
  .home-details .hello{
    font-size: 1.8rem;
  }

  .home-details p {
    font-size: 1.2rem;
    margin: 0;
  }

  .home-details h2{
    font-size: 2.2rem;
    width: 100%;
  }

  .home-image{
    flex-basis: 40%;
    width: 90%;
    max-width: 400px;
  }

  .home-details{
    flex-basis: 55%;
  }

  /*  --- ABOUT ---  */
  .about-box img{
    width: 30%;
  }

  .about-box{
    padding: 1rem;
  }

  .about-box .about-text{
    text-align: justify;
    width: 100%;
    font-size: .7rem;
    line-height: 1rem;
    letter-spacing: 1px;
    margin-bottom: .5rem;
  }

}

/* --- TABLET BREAKPOINT ---
   (From 601px UP TO 900px)
   Covers iPads, Tablets, and Large Horizontal Phones
*/
@media (min-width: 601px ) and (max-width: 900px) {

  /* --- HEADER (Tablet) --- */
  .hamburger-menu {
    display: block;
    z-index: 101;
  }
  .header-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #ECDFCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .header-right.nav-active {
    transform: translateX(0);
  }
  .header-right a {
    font-size: 2rem;
  }
  body.dark-mode .header-right {
    background-color: #181C14;
  }
  .header-left {
    flex-grow: 1;
    justify-content: center;
  }
  .header-left a {
    margin: 0 auto;
  }
  
  /* --- HOME PAGE (Tablet) --- */
  .home-section {
    flex-direction: column;
    padding: 60px 10%;
    gap: 2rem;
  }

  .home-details, .home-buttons {
    order: 2;
    text-align: center;
    align-items: center;
    width: 100%;
  }

    .home-details .hello, p{
    width: 100%;
  }

  .home-details .hello{
    font-size: 1.8rem;
  }

  .home-details p {
    font-size: 1.4rem;
    margin: 0;
  }

  .home-details h2{
    font-size: 2.5rem;
    width: 100%;
  }

  .home-image {
    order: 1;
    width: 100%; 
    max-width: 350px;  
  }

  /* --- ABOUT ME PAGE (Tablet) --- */
  .about-details .section-title, 
  .about-box, 
  .skills-section, 
  .about-certification {
    width: 90%;
    align-items: center;
    text-align: center;
  }
  
  .about-box {
    padding: 1rem;
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .about-box img{
    width: 70%;
  }

  .about-box .about-text{
    text-align: justify;
    width: 100%;
    font-family: 'Roboto';
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: 1px;
    margin-bottom: .5rem;
  }

  .skills-grid {
    flex-direction: column;
  }

  /* --- PROJECTS PAGE (Tablet) --- */
  .project-grid {
    padding: 0 10%;
  }
  
  .project-card {
    width: 90%;
    max-width: 350px;
  }

    /* --- CONTACT PAGE (PHONE) --- */
  .contact-container {
    padding: 0 5%;
    gap: 1rem;
  }
  .contact-item i {
    width: 60px;
    height: 60px;
    font-size: 2rem;
  }
}





/* ==============================================
   --- PHONE BREAKPOINT ---
   (From 0px UP TO 600px)
   Covers all Mobile Phones
   ==============================================
*/
@media (max-width: 600px) {

  /* --- GLOBAL (PHONE) --- */
  html {
    font-size: 90%; 
  }

  /* --- HEADER (PHONE) --- */
  .hamburger-menu {
    display: block;
    z-index: 101;
  }
  .header-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #ECDFCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .header-right.nav-active {
    transform: translateX(0);
  }
  .header-right a {
    font-size: 1.5rem;
  }
  body.dark-mode .header-right {
    background-color: #181C14;
  }
  .header-left {
    flex-grow: 1;
    justify-content: center;
  }
  .header-left a {
    margin: 0 auto;
  }

  /* --- HOME PAGE (PHONE) --- */
  .home-section {
    flex-direction: column;
    padding: 40px 5%;
    gap: 1rem;
  }
  
  .home-details, .home-buttons {
    order: 2;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  
  .home-details .hello, p{
    width: 100%;
  }

  .home-details .hello{
    font-size: 1.4rem;
  }

  .home-details p {
    font-size: .9rem;
    margin: 0;
  }

  .home-details h2{
    font-size: 1.8rem;
    width: 100%;
  }

  .home-image {
    order: 1;
    width: 80%;       
    max-width: 250px; 
  }

  /* --- ABOUT ME PAGE (PHONE) --- */
  .about-details .section-title,
  .about-box,
  .skills-section,
  .about-certification {
    width: 95%;
    align-items: center;
    text-align: center;
  }

  .about-box {
    padding: .8rem;
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .about-box img{
    width: 90%;
  }

  .about-box .about-text{
    text-align: justify;
    width: 100%;
    font-family: 'Roboto';
    font-size: .8rem;
    line-height: 1rem;
    letter-spacing: 1px;
    margin-bottom: .5rem;
  }

  .skills-grid {
    flex-direction: column;
  }

  /* --- PROJECTS PAGE (PHONE) --- */
  .project-grid {
    padding: 0 5%;
  }

  .project-card {
    width: 90%;
    max-width: 350px;
  }

  /* --- CONTACT PAGE (PHONE) --- */
  .contact-container {
    padding: 0 5%;
    gap: 1rem;
  }
  .contact-item i {
    width: 60px;
    height: 60px;
    font-size: 2rem;
  }
}
